.application {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #309dc1;
  font-size: 0;
  text-align: center;
    &__envelope {
      position: absolute;
      top: -28px;
      left: 8%;
    }
    &__tagline {
      margin: 0 auto;
      margin-bottom: 25px;
      padding: 0;
      width: 56.25%;
      font-size: 36px;
      line-height: 42px;
      color: #ffffff;
      font-weight: bold;
      font-family: "Myriad Pro", "Verdana", sans-serif;
      text-align: center;
      text-transform: uppercase;
        &--mini {
          margin-bottom: 25px;
          font-size: 22px;
          line-height: 22px;
          text-transform: none;
        }
    }
    &__input-text {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 0 21px;
      width: 84.375%;
      height: 40px;
      font-size: 18px;
      line-height: 18px;
      color: #636363;
      font-weight: normal;
      font-family: "KabelC Book", "Verdana", sans-serif;
      background-color: #ffffff;
      border-radius: 3px;
      border: none;
      outline: none;
      -webkit-box-shadow:1px 1px 1px #000000, inset 0px 0px 1px #ffffff;
      -moz-box-shadow: 1px 1px 1px #000000,  inset 0px 0px 1px #ffffff;
      box-shadow:1px 1px 1px #000000, inset 0px 0px 1px #ffffff;
        // &:nth-of-type(3)  {
        //   margin-bottom: 25px;
        // }
          &--text {
            padding: 6px 21px;
            height: auto;
            resize: none;
          }
    }
    &__sumbut {
      margin-bottom: 25px;
      width: 73.125%;
      height: 42px;
      font-size: 22px;
      line-height: 22px;
      color: #309dc1;
      font-weight: bold;
      font-family: "Myriad Pro", "Verdana", sans-serif;
      text-align: center;
      text-transform: uppercase;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 3px;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-box-shadow:1px 1px 1px #000000, inset 0px 0px 1px #ffffff;
      -moz-box-shadow: 1px 1px 1px #000000,  inset 0px 0px 1px #ffffff;
      box-shadow:1px 1px 1px #000000, inset 0px 0px 1px #ffffff;
        // &:nth-of-type(5)  {
        //   margin-bottom: 0;
        // }
        &:hover {
          background-color: #8EDAF3;
        }
        &:active {
          background-color: #6CA9BD;
        }
    }
    &__write-a-letter {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 25px;
      padding: 10px 0;
      width: 73.125%;
      height: 42px;
      font-size: 22px;
      line-height: 22px;
      color: #309dc1;
      font-weight: bold;
      font-family: "Myriad Pro", "Verdana", sans-serif;
      text-align: center;
      text-transform: uppercase;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 3px;
      border: none;
      outline: none;
      text-decoration: none;
      cursor: pointer;
      -webkit-box-shadow:1px 1px 1px #000000, inset 0px 0px 1px #ffffff;
      -moz-box-shadow: 1px 1px 1px #000000,  inset 0px 0px 1px #ffffff;
      box-shadow:1px 1px 1px #000000, inset 0px 0px 1px #ffffff;
        &:hover {
          background-color: #8EDAF3;
        }
        &:active {
          background-color: #6CA9BD;
        }
    }
    &--modal {
      width: 100%;
    }
}
@media (min-width: @width-tablet) {
  .application {
    width: 65%;
    margin: 0 auto;
    border: 12px solid rgba(48,157,193,0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
      &__tagline {
        width: 100%;
      }
      &--modal {
        top: 0;
        right: 0;
        width: 480px;
      }
  }
}
@media (min-width: @width-desktop) {
  .application {
    position: absolute;
    top: 86px;
    right: 85px;
    width: 480px;
      &--modal {
        top: 0;
        right: 0;
      }
  }
}
