.guarantees {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #737a7f;
    &__content {
      .content-width();
    }
    &__tagline {
      margin: 0 auto;
      margin-bottom: 35px;
      width: 80%;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      font-weight: bold;
      font-family: "Myriad Pro", "Verdana", sans-serif;
      text-align: center;
    }
    &__block{
      position: relative;
      margin-bottom: 30px;
      padding-top: 154px;
      width: 100%;
        &:last-of-type {
          margin-bottom: 0;
        }
    }
    &__img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__text {
      margin: 0 auto;
      margin-top: 20px;
      font-size: 13px;
      line-height: 18px;
      color: #ffffff;
      width: 280px;
      font-weight: bold;
      font-family: "KabelC Book", "Verdana", sans-serif;
      text-align: center;
    }
    &__clarification {
      margin: 0 auto;
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px;
      color: #ffffff;
      width: 260px;
      font-weight: normal;
      font-family: "KabelC Book", "Verdana", sans-serif;
      text-align: center;
    }
}
@media (min-width: @width-tablet) {
  .guarantees {
    position: relative;
    padding-bottom: 80px;
    background-image: url(../img/guarantees-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
      &__clarification {
        position: absolute;
        width: 100%;
        top: 530px;
      }
  }
}
@media (min-width: @width-desktop) {
  .guarantees {
    text-align: center;
      &__blocks {
        display: inline-block;
      }
      &__block{
        display: inline-block;
        vertical-align: top;
        margin-right: 70px;
        width: auto;
          &:last-of-type {
            margin-right: 0;
          }
      }
      &__clarification {
        position: absolute;
        width: 620px;
        top: 280px;
        left: 50%;
        transform: translateX(-50%);
      }
  }
}
