.language {
  position: absolute;
  top: 106px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
    &__link {
      display: inline-block;
      margin-right: 7px;
        &:last-child {
          margin-right: 0;
        }
    }
}
