.language {
  position: absolute;
  top: 106px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
    &--main-footer {
      display: none;
    }
    &__link {
      display: inline-block;
      vertical-align: top;
      margin-right: 7px;
        &:last-child {
          margin-right: 0;
        }
    }
}
@media (min-width: @width-tablet) {
  .language {
    top: 21px;
    right: 60px;
    left: auto;
    transform: translateX(0%);
      &--main-footer {
        display: block;
        position: absolute;
        top: auto;
        right: 20%;
        left: auto;
        bottom: 70px;
        transform: translateX(100%);
      }
  }
}
@media (min-width: @width-desktop) {
  .language {
    top: 21px;
    right: 60px;
    left: auto;
    transform: translateX(0%);
      &--main-footer {
        top: 35px;
        bottom: auto;
        right: 75px;
      }
  }
}
