.main-block {
  background-color: #30312f;
    &__content {
      .content-width();
    }
    &__text-block {
      position: relative;
      // height: 730px;
      background-color: inherit;
      // background-image: url(../img/main-block__text-block.jpg);
      // background-position: 48% 10%;
      // background-repeat: no-repeat;
      // background-size: auto 100%;
    }
    // &__accreditation {
    //   position: absolute;
    //   top: 22px;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
    &__tagline {
      display: none;
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 20px 0;
      width: 92%;
      font-size: 50px;
      line-height: 55px;
      color: #ffffff;
      font-weight: bold;
      font-family: "Myriad Pro", "Verdana", sans-serif;
      text-transform: uppercase;
      text-align: center;
      text-shadow:  3px 0 3px rgba(0, 0, 0, 0.6);
      background-color: rgba(29, 29, 29, 0.5);
      }
    &__text {
      position: relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 10px 5%;
      box-sizing: border-box;
      width: 100%;
      font-size: 26px;
      line-height: 32px;
      color: #fefefe;
      font-weight: normal;
      font-family: "KabelC Book", "Verdana", sans-serif;
      text-transform: none;
      text-align: center;
      text-shadow:  1px 0 2px rgba(0, 0, 0, 0.75);
      background-color: rgba(29, 29, 29, 0.5);
        &--wider {
          width: 90%;
          top: 575px;
        }
    }
}
@media (min-width: @width-tablet) {
  .main-block {
    position: relative;
    background-image: url(../img/main-block__text-block.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
      &__text-block {
        height: 825px;
      }
      &__text {
        margin: 0;
        top: 43px;
        padding: 10px 0;
        width: 600px;
        font-size: 56px;
        line-height: 76px;
          &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0%;
            width: 100%;
            height: 1px;
            background: linear-gradient(to left, #4f5f6c 0%, #ffffff 20%, #ffffff 80%, #4f5f6c 100%);
          }
      }
  }
}
@media (min-width: @width-desktop) {
  .main-block {
    &__text-block {
      position: relative;
      height: 907px;
    }
    &__text {
      width: 75%;
    }
    &__tagline {
      top: 87px;
      width: 950px;
    }
  }
}
