.main-block {
    &__text-block {
      padding-top: 67px;
      padding-bottom: 40px;
      background-color: #14293f;
      background-image: url(../img/main-block__text-block.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    &__tagline {
      margin: 0 auto;
      padding-bottom: 90px;
      width: 295px;
      font-size: 50px;
      line-height: 55px;
      color: #ffffff;
      font-weight: bold;
      font-family: "Myriad Pro", "Verdana", sans-serif;
      text-transform: uppercase;
      text-align: center;
      text-shadow:  3px 0 3px rgba(0, 0, 0, 0.6);
      }
    &__text {
      margin: 0 auto;
      width: 200px;
      font-size: 26px;
      line-height: 32px;
      color: #fefefe;
      font-weight: normal;
      font-family: "KabelC Book", "Verdana", sans-serif;
      text-transform: none;
      text-align: center;
      text-shadow:  1px 0 2px rgba(0, 0, 0, 0.75);
        &--wider {
          padding-top: 45px;
          width: 290px;
        }
    }
}
