.main-header {
  position: relative;
  background: @white;
  // padding-top: 93px;
  // padding-bottom: 100px;
  font-size: 0;
  // max-width: 1280px;
    &__top {
      position: relative;
      width: 100%;
      height: 133px;
      // padding-top: 20px;
      // padding-bottom: 23px;
    }
    &__top-content {
      .content-width();
        &::after {
          content: '';
          position: absolute;
          top: 92px;
          margin-right: 1.25%;
          margin-left: 1.25%;
          width: 97.5%;
          max-width: 1280px;
          height: 1px;
          background: linear-gradient(to left, #f5f5f5 0%, #252525 20%, #252525 80%, #f5f5f5 100%);
        }
    }
    &__logo {
      position: absolute;
      top: 19px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__phone {
      display: none;
    }
}
@media (min-width: @width-tablet) {
  .main-header {
    margin: 0 auto;
    padding-top: 0;
        &::after {
          top: 138px;
        }
        &__top {
          height: 138px;
          padding-top: 0;
          // padding-right: 2.6%;
          padding-bottom: 0;
          // padding-left: 2.6%;
        }
        &__top-content {
            &::after {
              top: 138px;
            }
        }
        &__logo {
          left: 50%;
          margin: 0;
        }
        &__phone {
          display: inline-block;
          vertical-align: bottom;
          position: absolute;
          transform: translateX(-50%);
          top: 80px;
          left: 50%;
          width: 768px;
          text-align: center;
          overflow: visible;
            &-img {
              margin-right: 10px;
            }
            &-figures {
              display: inline-block;
              vertical-align: bottom;
              margin: 0;
              font-size: 34px;
              line-height: 34px;
              color: #06385f;
              font-weight: bold;
              font-family: "KabelC Book", "Verdana", sans-serif;
                &--mini {
                  position: relative;
                  right: 5px;
                  bottom: 12px;
                  font-size: 16px;
                  line-height: 22px;
                  color: #686868;
                  font-weight: normal;
                  font-family: "KabelC Book", "Verdana", sans-serif;
                }
                &--mini-text {
                  position: relative;
                  right: 5px;
                  bottom: 2px;
                  font-size: 16px;
                  line-height: 22px;
                  color: #686868;
                  font-weight: normal;
                  font-family: "KabelC Book", "Verdana", sans-serif;
                  margin-bottom: 10px;
                }
                &:nth-of-type(1) {
                  margin-right: 30px;
                }
            }
        }
  }
}
@media (min-width: @width-desktop) {
  .main-header {
    margin: 0 auto;
    padding-top: 0;
      &__top {
        height: 160px;
        padding: 0;
      }
      &__top-content {
          &::after {
            top: 160px;
          }
      }
      &__logo {
        top: 21px;
        left: 50%;
        margin: 0;
        width: 470px;
        height: 74px;
      }
      &__phone {
        vertical-align: bottom;
        top: 110px;
        left: 50%;
        width: 1200px;
        text-align: center;
        overflow: visible;
          &-figures {
            vertical-align: bottom;
              &:nth-of-type(1) {
                margin-right: 10px;
              }
          }
      }
  }
}
